/* General styles for case study sections */

.case-study-container {
  padding: 80px 10%;
  color: #ababab;
  background-color: #080808;
}

.case-study-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}

.case-study-subtitle {
  font-size: 50px;
  font-weight: 400;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

.case-study-subtitle:hover {
  color: #ff004f;
}

.case-study-text {
  font-size: 20px;
  line-height: 1.6;
  color: #ababab;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.case-study-text:hover {
  transform: scale(1.02);
}

.case-study-list {
  margin-left: 20px;
  list-style-type: square;
}

.case-study-list li {
  margin-bottom: 10px;
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

/* Styling for demo and repository links */

.case-study-links {
  display: flex;
  gap: 15px; /* Adds spacing between the links */
  flex-wrap: wrap; /* Ensures links wrap to the next line if needed */
  justify-content: flex-start;
  list-style-type: none;
}

.case-study-links a {
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #ff004f;
  padding: 8px 15px;
  border-radius: 5px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    transform 0.3s ease;
}

.case-study-links a:hover {
  background-color: #ff004f;
  color: #fff;
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
